<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upc.edu.pe.proyecto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Inicio de Permisos para Google Maps -->
    <permission
        android:name="upc.edu.pe.proyecto.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="upc.edu.pe.proyecto.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Fin de Permisos para Google Maps -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.mimenu" >

        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" >

        </activity>
        <activity android:name=".MenuActivity" >
        </activity>
        <activity android:name=".MantenimientoActivity" >
        </activity>
        <activity android:name=".UsuarioActivity" >
        </activity>
        <activity android:name=".HistorialActivity" >
        </activity>
        <activity android:name=".DetalleActivity" >
        </activity>
        <activity android:name=".MapaActivity" >
        </activity>

        <activity android:name=".PedidoActivity" >
        </activity>

        <activity android:name=".CatalogoActivity" >
        </activity>
        <activity
            android:name=".CarritoActivity"
            android:label="@string/title_activity_carrito" >
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAJUVGad0o361bvmMDPm2vOKM0rq9p6D-k" />

    </application>

</manifest>
